
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html
{
    font-size: 10px;
    font-family: 'Tiro Gurmukhi', serif;
}


a
{
    text-decoration: none;
}

.container
{   
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



/*HEADER */
.nav-bar
{max-width: 100%;
margin: 0 auto;
    height: 50px;


}
.nav
{
    position: fixed;
    background-color: rgba(0,0,0, 0.6);
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    z-index: 2;
}
.nav .nav-bar
{display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    transition: all 0.3s ease-in-out;
}


.nav ul
{   display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;

}
.nav a
{color: white;
    text-decoration: none;
    padding: 7px 15px;
    transition: all 0.3s ease-in-out;
    font-size: 2rem;
    font-weight: 2.5rem;
    text-transform: uppercase;
}
.nav a:hover
{
    color: pink;
}


/*END OF HEADER */




/*BANNER*/
#banner
{
background-image:url(./images/bg.png);
background-size: cover;
background-position: top center;
position: relative;
z-index: 1;
}
#banner::after
{
    position:absolute;
    left: 0%;
    top: 0%;
    height: 100%;  
    width: 100%;
    background-color: black;
    content: '';
    opacity: .3;
    z-index: -1;
}
#banner h1
{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: .3s;
}
#banner h1:nth-child(1){animation-delay: 1s;}
#banner h1:nth-child(2){animation-delay: 2s;}
#banner h1:nth-child(3){
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 3s;

}



#banner h1 span
{position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: pink;
    animation: text_reveal_box 1s ease;
    animation-delay: .3s;

}
#banner h1:nth-child(1) span {animation-delay: .5s;}
#banner h1:nth-child(2) span {animation-delay: 1.5s;}
#banner h1:nth-child(3) span {animation-delay: 2.5s;}

#banner .cta
{
    display: inline-block;
    padding: 10px 30px;
    color: pink;
    background-color: transparent;
    border: 2px solid pink;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 30px;
    transition: 1s ease;

}
#banner .cta:hover
{color: black;
    background-color: pink;

}
/*END OF BANNER*/


/*SERVICE*/
#services{
    background-image: url(./images/sample.jpg);
    background-color: white;
    position: relative;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    
    
    
}


#services .service
{
    flex-direction: column;
    text-align: center;
    max-width: 100px;
    margin: 0 auto;
    padding: 50px 0;
    
}

.section_title
{   font-size: 4rem;
    font-weight: 200;
    color: rgb(181, 88, 103);
    text-transform: uppercase;
    letter-spacing: .2rem;
    
    
   
    
    
}

#services .service_bottom
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

#services .service_item 
{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: content;
    padding: 55px;
    color: black;
    float: left;
    border-color: aliceblue;
}


 
#services .item1 a
{
    
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 150px;
    color: black;
    border: 5px;
    border-color: rgb(221, 194, 160);
    border-style: solid;
    align-items: center;
    background-image: url(./images/dress.png);
    background-size: cover;
    background-position: center;
    margin: 10px;
    transition: 0.5s ease-in-out;
    box-shadow: 5px 5px 20px black;
      
}
#services .item1 a:hover
{   transform: scale(1.1);

}

#services .service_item h1
{   text-transform: capitalize;
    padding-top: 2.5%;
    padding-bottom: 0%;
font-size: 2rem;

    color: rgb(71, 25, 33);

}


#services .item2 a
{
    
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    
    padding: 150px;
    color: white;
    border: 5px;
    border-color: rgb(221, 194, 160);
    border-style: solid;
    align-items: center;
    background-image: url(./images/swimsuit.png);
    background-size: cover;
    background-position: center;
    margin: 10px;
    transition: 0.5s ease-in-out;
    box-shadow: 5px 5px 20px black;
    
}
#services .item2 a:hover
{   transform: scale(1.1);

}


#services .item3 a
{
    
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    
    padding: 150px;
    color: white;
    border: 5px;
    border-color: rgb(221, 194, 160);
    border-style: solid;
    align-items: center;
    background-image: url(./images/21st\ swimsuit.jpg);
    background-size: cover;
    background-position: center;
    margin: 10px;
    transition: 0.5s ease-in-out;
    box-shadow: 5px 5px 20px black;
}
#services .item3 a:hover
{   transform: scale(1.1);

}



/*END OF SERVICE*/



/* ABOUT_US*/
#about_us
{
    background-image: url(./images/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: inherit;
    
    
}
#about_us .about
{
    flex-direction: column;
    text-align: center;
    
    margin: 0 auto;
    padding: 50px 0;
    
    
}

#about_us .contact
{

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: ;
    float: left;
    padding: 5;
    padding-top: 40%;
    flex-wrap: wrap;
}


#about_us .header h1
{   align-content: flex-start;
    color: white;
    font-size: 4rem;
    font-weight: 200;
    
    
}




#about_us .fb
{
    display: inline-block;
    padding: 10px 10px;
    color: pink;
    background-color: transparent;
    border: 2px solid pink;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 30px;
    transition: 1s ease;
    margin-right: 10px;
}
#about_us .fb:hover
{color: black;
    background-color: pink;

}

#about_us .ig
{
    display: inline-block;
    padding: 10px 10px;
    color: pink;
    background-color: transparent;
    border: 2px solid pink;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 30px;
    transition: 1s ease;
    margin-left: 10px;
}

#about_us .ig:hover
{color: black;
    background-color: pink;

}

#about_us .shopee
{
    display: inline-block;
    padding: 10px 10px;
    color: pink;
    background-color: transparent;
    border: 2px solid pink;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 30px;
    transition: 1s ease;
    
}

#about_us .shopee:hover
{color: black;
    background-color: pink;

}



/*END OF ABOUT_US*/




/*kerframes*/
@keyframes text_reveal_box{
50%{
    width: 100%;
    left: 0;
}
100%
{
    width: 0;
    left: 100%;
}
}
@keyframes text_reveal
{
100%{ color: white;

    }    
}
@keyframes text_reveal_name
{
100%{ color: pink;

    }    
}

/*end of kerframes*/




/*media*/
@media screen and(min-width: 780px){
    .service_bottom
    {display: flex;

    }
    
    
}



/*end of media*/
